.banner {
  background: #456;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
a{
  color: rgb(40, 125, 255);
  text-decoration: none;
}
.banner-img {
  border-radius: 50%;
  border: 3px solid white;
  width: 250px;
}

.border-menu {
  border-bottom: 1px solid #dee2e6;
  margin-top: 0px;
  width: 100%;
  left: 0px;
}

.main {
  margin:15px;
  position: relative;

  margin-bottom: 150px;
}
.card{
  position:relative;
}
.hero-main {
  background-image: url('../img/herobanner.jpg');
  width:100vw;
  margin: 0px;
  border-radius: 0px;
  color: rgb(247, 247, 247)
}
.footer{
  padding:10px;
  border-top: 1px solid #dee2e6;
  margin-top: auto;
  background-color: #fff;
}
.projects-content{
  background-color: rgb(241, 248, 255);
  margin: 0;
  height: 100vh;
}
.tbl-header{
  padding:5px;
  background-color: #FF7B54;
}
.border-right{
  border-left: 1px solid #dee2e6;
}
.tbl-column{
  padding:5px;
  background-color: #B08BBB;
}